:root {
  /* --dark-mode: rgba(0, 0, 0, 0.9); */
  --dark-mode: #000000;
  --dm-sans: 'DM Sans', sans-serif;
  --light-content: #A7A7A7;
  --solid-heading-dark-mode: #CCC;
  --popins: 'Poppins', sans-serif;
  --gradient-color1: #F2FD7D;
  /* #FF057C */
  --gradient-color2: #0F9E99;
  --animation: 2s ease-in-out infinite;
  --white-color:#fff;
}
body {
  font-family: var(--popins);
  background-color: var(--white-color);
  color: #fff;
  position: relative;
  /* background: transparent; */
  margin: 0px 16px;
}

body::before {
  content: "";
  position: fixed;
  /* background: #040404 url("../img/BG.png") top right no-repeat; */
  /* background-color: var(--dark-mode); */
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}
/* animated roles */
.role-title .loader {
  color: rgb(124, 124, 124);
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 10px;
  font-family: var(--dm-sans);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: spin_4991 12s infinite;
  -webkit-animation: spin_4991 12s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

/* animated roles */
/* ctas buttons */
.ctas-wrapper{
    display: flex;
    align-items: center;
    column-gap: 12px;
    flex-wrap: wrap;
    row-gap: 12px;
    margin-bottom: 16px;
}
.call-button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--clr);
  color: var(--dark-mode);
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
  font-size: 16px;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--white-color);
  background-color: var(--dark-mode);
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.call-button:hover {
  color: var(--white-color);
  background-color: var(--dark-mode);
}

.call-button:hover .button__icon-wrapper {
  color: var(--dark-mode);
  background-color: var(--white-color);
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.call-button:hover .button__icon-svg:first-child,.work-card:hover .button__icon-svg:first-child{
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.call-button:hover .button__icon-svg--copy,.work-card:hover .button__icon-svg--copy{
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}
.available-for-btn{
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #178d00;
  background-color: #e1f9dc;
  border-radius: 100px;
  padding: 0.75rem 1.5rem 0.75rem 0.5rem;
  outline:none;
  border:none;
  font-weight: 600;
}
.available-for-btn:hover{
  color: #178d00;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 16px;
  height: 16px;
  border: solid 2px #178d00;
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #178d00;
  animation: dot-keys var(--animation);
}

.circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}
.circle:nth-child(2) {
  animation-delay: 0.3s;
}
.circle:nth-child(2) .dot {
  animation-delay: 0.3s;
}
.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}
.circle:nth-child(2) .outline {
  animation-delay: 1.2s;
}
@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dot-keys {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}
/* ctas buttons */
@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: var(--solid-heading-dark-mode);
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--dm-sans);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
  color: #fff;
  border-bottom: 2px solid var(--solid-heading-dark-mode);
  padding-bottom: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#header img {
  padding: 0;
  margin: 0;
}
.freelance-pf img{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
}
#header .social-links,.first-lo.social-links {
  margin-top: 40px;
  display: flex;
}
.first-lo.social-links{
  margin-top:0px;
}
#header .social-links a,footer .social-links a,.first-lo.social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white-color);
  color: var(--dark-mode);
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

#header .social-links a:hover,footer .social-links a:hover,.first-lo.social-links a:hover {
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  color:var(--dark-mode);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }

  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #header .social-links {
    margin-top: 15px;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dp-wrapper{
    display: flex;
    align-items: center;
    justify-content:center ;
  }
  .dp-wrapper img{
    height: 200px;
    width: 200px;
  }
}

/* Header Top */
#header.header-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: var(--dark-mode);
  border-radius: 0px 0px 30px 30px;
  -webkit-border-radius: 0px 0px 30px 30px;
  -moz-border-radius: 0px 0px 30px 30px;
  -ms-border-radius: 0px 0px 30px 30px;
  -o-border-radius: 0px 0px 30px 30px;
}

#header.header-top .social-links,
#header.header-top h2 {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 36px;
}

#header.header-top img {
  max-height: 60px;
  margin-right: 20px !important;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .navbar {
  margin: 0;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }

  #header.header-top h1 {
    font-size: 26px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  margin-top: 35px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li+li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

/* .navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: var(--solid-heading-dark-mode);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
  border-radius:4px;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 35px;
} */

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  /*background-clip: text;
  *//*-webkit-background-clip: text;
  *//*-webkit-text-fill-color: transparent;
  */font-weight: 400;
  padding: 4px 8px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: var(--dark-mode);
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
}
.mobile-nav-toggle.bi-list {
  animation: zoom-in-zoom-out 2s ease-out infinite;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  /* new animation for menu side tile css */
  .navbar{
    min-width: 0vw;
    width: 0;
    overflow: hidden;
    background: var(--dark-mode);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--dm-sans);
    color: var(--light-content);
    font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    transition: 0.2s ease-in-out;
    z-index: 1;
  }
  .navbar-mobile {
    min-width: 100vw;
    z-index: 1;
  }
  /* new animation for menu side tile css */
  .navbar ul {
    display: none;
  }
}

/* .navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
} */

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile .mobile-nav-toggle.bi-x {
  position: relative;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  right: 0px;
}
.navbar-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 16px;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li+li {
  margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 16px;
  position: relative;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

section .container {
  background: var(--dark-mode);
  padding: 30px 16px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }

  section.section-show {
    top: 80px;
  }
}
.section-title{
  text-align: center;
}
.section-title h2 {
  font-size: 12px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 100px;
  height: 1px;
  display: inline-block;
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  color: var(--solid-heading-dark-mode);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom:0px;
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about-me .content ul strong {
  margin-right: 10px;
}

.about-me .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--solid-heading-dark-mode);
  line-height: 0;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #3636369e;
  border-radius: 2px 30px 2px 30px;
  font-family: var(--dm-sans);
  border: 12px solid transparent;
  background: linear-gradient(#212121, #212121) padding-box,linear-gradient(145deg, transparent 35%,var(--gradient-color1), var(--gradient-color2) ) border-box;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  -webkit-border-radius: 2px 30px 2px 30px;
  -moz-border-radius: 2px 30px 2px 30px;
  -ms-border-radius: 2px 30px 2px 30px;
  -o-border-radius: 2px 30px 2px 30px;
}
.counts .count-box:hover {
  rotate: 4deg;
}
.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  padding: 12px;
  color: var(--dark-mode);
  border-radius: 50px;
  line-height: 0;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #fff;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.2);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #18d26e;
}
/*--------------------------------------------------------------
# tech stack
--------------------------------------------------------------*/
.tech-stk {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(126px, 1fr));
  justify-content: center;
  padding: 20px 0px 0px 0px;
  max-width: 1000px;
  margin: 0px auto;
}
.tech-stk img{
  height: 50px;
  width: 50px;
}
.tech-stk .tech-label{
  padding-top: 16px;
  text-align: center;
}
.tech-stk > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  padding: 20px;
}
/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests .icon-box {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 20px;
  background: rgb(54 54 54 / 62%);
  border-radius: 2px 16px 2px 16px;
  transition: ease-in-out 0.3s;
  margin-top:30px;
  border: 8px solid transparent;
  background: linear-gradient(#212121, #212121) padding-box,linear-gradient(145deg, transparent 35%,var(--gradient-color1), var(--gradient-color2) ) border-box;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  -webkit-border-radius: 2px 16px 2px 16px;
  -moz-border-radius: 2px 16px 2px 16px;
  -ms-border-radius: 2px 16px 2px 16px;
  -o-border-radius: 2px 16px 2px 16px;
}
.interests .icon-box h3{
  font-family: var(--popins) !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}
.interests .row{
  align-items: flex-end;
}
.interests .service-order{
  font-size: 36px;
  top: -29px;
  font-weight: 400;
}
.interests .icon-box i {
  font-size: 24px;
  line-height: 1;
  transition: 0.2s ease-in-out;
}
.interests .icon-box .icon{
    height: 50px;
    width: 50px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
    color: var(--dark-mode);
}
.interests .col-lg-3{
  z-index: 1;
}
.interests .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: #fff;
}

.interests .icon-box:hover {
  background: rgb(54 54 54 / 100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.interests .icon-box:hover i{
  color: #ffffff;
}
.interests .icon-box:hover .service-order{
  z-index: 10;
  color: #ffffff;
}
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid rgba(255, 255, 255, 0.12);
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #fff;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.25);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: rgb(54 54 54 / 62%);
  border-radius: 2px 16px 2px 16px;
  position: relative;
  position: relative;
  z-index: 1;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius:2px;
  color: var(--dark-mode);
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  border: 2px solid var(--solid-heading-dark-mode);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  position: relative;
  text-align: center;
  background: rgb(54 54 54 / 62%);
  padding: 80px 20px;
  border-radius: 2px 16px;
  transition: all ease-in-out 0.3s;
  margin-top: 42px;
  border: 2px solid transparent;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, var(--gradient-color1), var(--gradient-color2)) border-box;
  transform-origin: right bottom;
  transition: all 0.6scubic-bezier(0.23, 1, 0.320, 1);
  font-weight:400;
}
.services .icon-box:hover {
  rotate: 2deg;
}
.services .align-items-stretch{
  z-index: 1;
}
.service-order{
    position: absolute;
    top: -47px;
    font-size: 50px;
    font-weight: 700;
    left: 23px;
    /* z-index: -1; */
    color: var(--white-color);
    font-family: var(--dm-sans);
    transition: 0.2s ease-in-out;
}
.services .icon-box:hover .service-order{
  color:#fff;
  z-index: 10;
  transition: 0.2s ease-in-out;
}
.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  border-radius: 50%;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

.services .icon-box .icon i {
  color: var(--dark-mode);
  font-size: 28px;
}

.services .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 40%;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #fff;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transition: 0.2s ease-in-out;
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  color: var(--dark-mode);
}

.services .icon-box:hover .icon {
  background: var(--dark-mode);
}

.services .icon-box:hover .icon i {
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services .icon-box:hover .icon::before {
  background: var(--solid-heading-dark-mode);
}

.services .icon-box:hover h4 a,
.services .icon-box:hover p {
  color: var(--dark-mode);
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 3px 10px 3px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border: 6px solid var(--white-color);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
  /* border-top-left-radius: 8px; */
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
  /* border-bottom-right-radius: 8px; */
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #232426;
  margin: 10px 2px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  font-size: 14px;
  column-gap: 8px;
  background: #fff;
  padding: 8px 16px;
  border-radius: 2px;
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-links .pf-gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;

}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  color: #fff;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.portfolio-details .container {
  padding-top: 20px;
  padding-bottom: 40px;
}

.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info {
  padding-top: 45px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}

.portfolio-details .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #18d26e;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.wt-center {
  text-align: center;
  color: var(--solid-heading-dark-mode);
  font-family: var(--popins);
}
.contact-wrp{
  padding: 100px 0px;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--dm-sans);
}
.my-mail{
  text-decoration: none;
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
}
footer{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--light-content);
  font-size: 20px;
  flex-direction: column;
  transition: 0.2s ease-in-out;
  padding: 40px 16px;
  row-gap: 50px;
  text-align: center;
}
footer span{
  text-decoration: none;
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
}
.links {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  position: relative;
  transition: 0.2s ease-in-out;
}
.logo {
  background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -1px;
}
footer .social-links{
  display: flex;
  align-items: center;
  column-gap: 8px;
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/
.credits {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: right;
  font-size: 13px;
  color: #fff;
  z-index: 999999;
}

@media (max-width: 992px) {
  .credits {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
  }
}

.credits a {
  color: #18d26e;
  transition: 0.3s;
}

.credits a:hover {
  color: #fff;
}
.resume .resume-item h4.resume-subheading{
  font-size:14px;
}
.navbar.sticky-bottom-btn{
    position: relative;
    min-width: auto;
    width: auto;
    min-height: auto;
    height: auto;
    z-index: 1020;
    right: 16px;
    bottom: 20px;
    padding: 8px 16px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    color:#ffffff;
    background: var(--gradient-heading, linear-gradient(90deg, var(--gradient-color1) 2.60%, var(--gradient-color2) 100%));
}
.navbar.sticky-bottom-btn ul{
  display:flex;
}
.pf-title{
  font-weight: 700;
  font-size: 28px;
  margin-top: 16px;
}
/* marquee css */
.marquee {
    --speed: 30s;
    /*lower=faster*/--gap: 1rem;
    --bg: #ffffff;
    --fg: #e6eef8;
    overflow:hidden;
    white-space:nowrap;
    width:100%;
    /*max-width:1000px;
    */
    margin-bottom: 20px;
    position:relative;
}

  .marquee__inner {
    display:inline-flex;
    gap:var(--gap);
    align-items:center;
    animation: scroll var(--speed) linear infinite;
  }

  .marquee__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    flex-shrink:0;
    border-radius:8px;
    padding:0.5rem 1rem;
    font-weight:600;
    background-color: var(--bg);
    box-shadow: 0 0 165px 152px rgba(11, 13, 20, 0.1) inset;
  }
  .marquee__item img{
    width:100%;
    height: 100%;
    object-fit: contain;
    
  }
  .grey-scale{
    background: var(--dark-mode);
}
  @keyframes scroll {
    from { transform: translateX(0); }
    to   { transform: translateX(-90%); -webkit-transform: translateX(-90%); -moz-transform: translateX(-90%); -ms-transform: translateX(-90%); -o-transform: translateX(-90%); }
  }

  /* Duplicate the content for seamless looping */
  .marquee__inner > * {
    display:inline-flex;
    align-items:center;
  }

  /* Pause on hover for accessibility */
  .marquee:hover .marquee__inner {
    animation-play-state: paused;
  }

  /* Optional: make slower on mobile */
  .skills-tech-stck{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    border-radius: 8px;
    padding: 8px 16px;
    /* background-color: var(--solid-heading-dark-mode);
    box-shadow: rgba(11, 13, 20, 0.1) 0px 0px 165px 152px inset;
    color: var(--dark-mode); */
  }
  .skills-tech-stck [alt="techstack"]{
    height: 50px;
    width: 50px;
  }
/* marquee css */
.about .content{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
.about-content{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px auto;
}
.abt-disc{
  margin-bottom: 50px
}
.focused-pill{
  background-color: var(--white-color);
  color: var(--dark-mode);
  display: inline-flex;
  padding: 4px 8px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.img-title-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.profile-image-wrapper{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--white-color);
    /* box-shadow: 0 0 4px 5px rgba(255, 255, 255, 0.40); */
    border: 12px solid transparent;
    background: linear-gradient(var(--white-color), var(--white-color)) padding-box, linear-gradient(145deg, transparent 35%, var(--gradient-color1), var(--gradient-color2)) border-box;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.profile-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.title-pill{
  background-color: var(--white-color);
  color: var(--dark-mode);
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 12px;
  position: absolute;
  bottom: -16px;
  width: max-content;
  font-weight: 500;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/* industry experience */
.experience-wrapper,.work-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 16px;
  margin: 0px auto;
}
.experience-tile{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 16px;
  width: -webkit-fill-available;
  border-bottom: 1px solid var(--light-content);
  padding: 0px 0px 16px 0px;
  font-family: var(--dm-sans);
}
.company-experience-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
  flex-shrink: 0;
  flex-grow: 1;
  width: -webkit-fill-available;
}
.company-logo{
  height: 50px;
  width: 50px;
  padding: 8px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  overflow: hidden;
  background-color: var(--white-color);
}
.company-logo-icon{
  height: 100%;
  width: 100%;
  object-fit:contain;
}
.designation{
  font-size: 18px;
}
.company-title-wrapper{
  flex-shrink: 0;
}
.joining-status,.roleshort-discription{
  font-size: 14px;
  color: var(--light-content);
}
.roleshort-discription{
  font-size: 16px;
}
.project-stack-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}
.stck-pill{
  background-color: var(--white-color);
  color: var(--dark-mode);
  font-size: 14px;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.work-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.work-card{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 280px;
    /*border: 4px solid var(--light-content);
    */
    border: 12px solid transparent;
    background: linear-gradient(#212121, #212121) padding-box, linear-gradient(110deg, transparent 0%, var(--gradient-color1), var(--gradient-color2)) border-box;
    transform-origin: right bottom;
    /* transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1); */
    padding: 16px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}
.work-card .image-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: var(--white-color);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  position: relative;
}
.work-card .button__icon-wrapper{
  position: absolute;
  top: 16px;
  right: 16px;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.work-card .project-stack-wrapper{
  margin-top: 0px;
}
@media screen and (min-width: 992px) {
  section .container{
    padding: 60px 30px;
  }
  #header h2 span {
    padding-bottom: 6px;
  }
  .pf-title{
    font-size: 40px;
    margin-top: 24px;
  }
  .marquee {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }
  .company-logo{
    height: 80px;
    width: 80px;
  }
  .about .content{
    row-gap: 16px;
  }
  .section-title h2{
    font-size: 14px;
  }
  .section-title p{
    font-size: 36px;
  }
  .experience-wrapper,.work-section{
    row-gap: 30px;
  }
  .designation{
    font-size: 24px;
  }
  .contact-wrp{
      font-size: 40px;
  }
  .my-mail{
      font-size: 40px;
  }
  footer{
      max-width: 992px;
      justify-content: space-between;
      flex-direction: row;
      padding-bottom:0px;
      text-align: left;
  }
  .links {
    align-items: center;
    column-gap: 50px;
    flex-direction: row;
  }
}